* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.heading-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-heading {
    color: gray;
    margin: 20px 0px 5px 0px;
}

.profile-heading {
    font-size: 26px;
    margin-bottom: 5px;
}

.desc-heading {
    width: 60%;
    text-align: center;
}


.sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr);    
    gap: 10px; 
    margin: 20px 0 50px 0;
   
}

.section {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section label {
    margin-bottom: 5px;
    text-align: left;
    width: 70%;
}



input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid gray;
    width: 70%; 
}

input:focus {
    border: 1px solid #58A9FA;
    outline: none; 
}
